Repository codesquad-masters2024-team6/be-airdnb, pull requests merged in 2024-06, with the labels that each got.

#2 [chore/#1] 프로젝트 초기 세팅
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/codesquad/airdnb/AirdnbApplication.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/codesquad/airdnb/AirdnbApplicationTests.java
  frontend/.gitignore
  frontend/.npmrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/lib/index.js
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/static/favicon.png
  frontend/svelte.config.js
  frontend/tailwind.config.js
  frontend/vite.config.js
Labels: 다오, 시드, backend, frontend

#4 [feat/#3] 숙소 CRUD에 필요한 엔티티 구현 및 연관관계 매핑
  backend/src/main/java/codesquad/airdnb/domain/accommodation/AccoPhoto.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/Accommodation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/embedded/Amenities.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/embedded/FloorPlan.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/embedded/Location.java
  backend/src/main/java/codesquad/airdnb/domain/member/Member.java
  backend/src/main/resources/schema.sql
Labels: 다오, 시드, backend, feature

#6 [fix/#5] 엔티티 내 잘못된 필드 명 수정
  backend/src/main/java/codesquad/airdnb/domain/accommodation/Accommodation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/embedded/FloorPlan.java
  backend/src/main/resources/schema.sql
Labels: 시드, fix

#8 [refactor/#7] 어매니티 관련 테이블 구조 변경
  backend/src/main/java/codesquad/airdnb/domain/accommodation/AccoAmen.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/AccoImage.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/Accommodation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/Amenity.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/embedded/Amenities.java
  backend/src/main/resources/schema.sql
Labels: 다오, 시드, backend, refactor

#11 [feat/#9] 호스트의 숙소 등록 구현
  backend/build.gradle
  backend/src/main/java/codesquad/airdnb/domain/accommodation/AccoAmen.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/Amenity.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/AccoController.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/additionals/FloorPlanData.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/additionals/LocationData.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/request/AccoCreateRequest.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/response/AccoContentResponse.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/AccoAmen.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/AccoImage.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/Accommodation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/Amenity.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/embedded/FloorPlan.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/embedded/Location.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoImageRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AmenityRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberController.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberRepository.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberService.java
  backend/src/main/java/codesquad/airdnb/domain/member/request/MemberCreateRequest.java
  backend/src/main/java/codesquad/airdnb/env/Constants.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
Labels: 다오, 시드, backend, feature

#15 [feat/#12] 호스트의 숙소 목록을 조회하는 기능 추가
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/AccoController.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/AccoListResponse.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/SimpleAccommodation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  backend/src/main/resources/data.sql
Labels: 다오, 시드, backend, feature

#16 [feat/#13] 숙소 상세조회 기능추가 및 컨트롤러 테스트코드 작성
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/AccoController.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/request/AccoCreateRequest.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/response/AccoContentResponse.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  backend/src/test/java/codesquad/airdnb/domain/accommodation/controller/AccoControllerTest.java
Labels: 다오, 시드, backend, feature

#20 [fix/#19] 컬럼 이름 맵핑 및 테스트 코드 수정
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/AccoAmen.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/AccoImage.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/AccoProduct.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/Accommodation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/Amenity.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/Reservation.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/embedded/FloorPlan.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/entity/embedded/Location.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  backend/src/main/java/codesquad/airdnb/domain/member/Member.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/codesquad/airdnb/domain/accommodation/controller/AccoControllerTest.java
Labels: 다오, 시드, fix

#24 [fix/#23] 피드백 반영
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/GuestAccoController.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/controller/HostAccoController.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/additionals/FloorPlanData.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/additionals/LocationData.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/request/AccoCreateRequest.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/request/AccoReservationRequest.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/response/AccoContentResponse.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberController.java
  backend/src/main/java/codesquad/airdnb/global/config/CustomLocalDateDeserializer.java
  backend/src/main/java/codesquad/airdnb/global/config/CustomLocalDateSerializer.java
  backend/src/main/java/codesquad/airdnb/global/config/JacksonConfig.java
Labels: 다오, 시드, backend, fix

#26 [feat/#10] 호스트 숙소 등록 페이지 및 숙소 조회 화면 구현
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/components/Card.svelte
  frontend/src/components/FloorPlanInputField.svelte
  frontend/src/components/HostingFooter.svelte
  frontend/src/components/HostingHeader.svelte
  frontend/src/components/InputField.svelte
  frontend/src/components/LocationForm.svelte
  frontend/src/components/PriceInputField.svelte
  frontend/src/components/RoutingBtn.svelte
  frontend/src/components/TextInputField.svelte
  frontend/src/lib/assets/image/filterBtnLarge.svg
  frontend/src/lib/assets/image/filterBtnSmall.svg
  frontend/src/lib/assets/image/profile_icon.svg
  frontend/src/routes/+layout.svelte
  frontend/src/routes/accommodations/+page.svelte
  frontend/src/routes/accommodations/AccoCard.svelte
  frontend/src/routes/accommodations/LoginModal.svelte
  frontend/src/routes/accommodations/ReservationModal.svelte
  frontend/src/routes/hosting/+layout.svelte
  frontend/src/routes/hosting/+page.svelte
  frontend/src/routes/hosting/accommodations/+layout.svelte
  frontend/src/routes/hosting/accommodations/+page.svelte
  frontend/src/routes/hosting/accommodations/create/+layout.svelte
  frontend/src/routes/hosting/accommodations/create/+page.svelte
  frontend/src/routes/hosting/accommodations/create/Constants.js
  frontend/src/routes/hosting/accommodations/create/QuestionSection.svelte
  frontend/src/routes/hosting/accommodations/create/amenities/+page.svelte
  frontend/src/routes/hosting/accommodations/create/coordinate/+page.svelte
  frontend/src/routes/hosting/accommodations/create/floorPlan/+page.svelte
  frontend/src/routes/hosting/accommodations/create/images/+page.svelte
  frontend/src/routes/hosting/accommodations/create/location/+page.svelte
  frontend/src/routes/hosting/accommodations/create/placeCategory/+page.svelte
  frontend/src/routes/oauth/redirected/kakao/+page.svelte
  frontend/src/store/Accommodations.js
  frontend/svelte.config.js
  frontend/tailwind.config.js
Labels: 시드, frontend

#27 [fix/#25] lazy init 에러 해결
  backend/src/main/java/codesquad/airdnb/domain/accommodation/dto/response/AccoContentResponse.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepositoryCustom.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepositoryImpl.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  backend/src/main/java/codesquad/airdnb/global/config/QuerydslConfig.java
  backend/src/test/java/codesquad/airdnb/domain/accommodation/controller/HostAccoControllerTest.java
Labels: 시드, backend, fix

#29 [feat/#28] 일반 로그인
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/codesquad/airdnb/domain/member/Auth.java
  backend/src/main/java/codesquad/airdnb/domain/member/Member.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberController.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberRepository.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberService.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/LoginRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/SignUpRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/response/AuthResponse.java
  backend/src/main/java/codesquad/airdnb/domain/member/request/MemberCreateRequest.java
  backend/src/main/java/codesquad/airdnb/global/config/WebConfig.java
  backend/src/main/java/codesquad/airdnb/global/security/JwtTokenProvider.java
  backend/src/main/resources/schema.sql
  frontend/src/components/ProfilePopup.svelte
  frontend/src/routes/accommodations/+page.svelte
  frontend/src/routes/accommodations/LoginModal.svelte
  frontend/src/routes/oauth/redirected/kakao/+page.svelte
  frontend/src/routes/oauth/signup/+page.svelte
  frontend/src/service/api.js
  frontend/src/store/auth.js
Labels: 다오, 시드, backend, feature

#32 [feat/#30] 카카오 OAuth 구현
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepositoryCustom.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepositoryImpl.java
  backend/src/main/java/codesquad/airdnb/domain/member/LoginType.java
  backend/src/main/java/codesquad/airdnb/domain/member/Member.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberController.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberRepository.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberService.java
  backend/src/main/java/codesquad/airdnb/domain/member/OAuth.java
  backend/src/main/java/codesquad/airdnb/domain/member/OAuthRepository.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/LoginRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/RegisterRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/SignUpRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/response/AuthResponse.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/OAuthClient.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/OAuthLoginParams.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/OAuthProvider.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/OAuthToken.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/OAuthUserInfo.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/OAuthUserInfoWithToken.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/RequestOAuthInfoService.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KaKaoLoginParam.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KaKaoUserInfo.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KakaoConstants.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KakaoOAuthClient.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KakaoToken.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KakaoUserInfoWIthToken.java
  backend/src/main/java/codesquad/airdnb/global/security/JwtTokenProvider.java
  backend/src/main/java/codesquad/airdnb/global/util/RandomStringUtil.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
Labels: 다오, 시드, backend, feature

#35 [feat/#31] 예약화면, 숙소 조회 화면 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HostingHeader.svelte
  frontend/src/components/ProfilePopup.svelte
  frontend/src/components/filtermodal/GuestCountSelection.svelte
  frontend/src/components/filtermodal/MiniSearchBar.svelte
  frontend/src/components/filtermodal/PriceRangeSelection.svelte
  frontend/src/components/filtermodal/ScheduleSelection.svelte
  frontend/src/lib/assets/image/toggleBtn.svg
  frontend/src/routes/accommodations/+page.svelte
  frontend/src/routes/accommodations/AccoCard.svelte
  frontend/src/routes/accommodations/LoginModal.svelte
  frontend/src/routes/accommodations/MapSection.svelte
  frontend/src/routes/accommodations/ReservationModal.svelte
  frontend/src/routes/hosting/+layout.svelte
  frontend/src/routes/hosting/+page.svelte
  frontend/src/routes/oauth/redirected/kakao/+page.svelte
  frontend/src/routes/oauth/register/+page.svelte
  frontend/src/service/api.js
  frontend/src/store/AccoProducts.js
  frontend/src/store/Auth.js
  frontend/src/store/Filter.js
Labels: 시드, frontend

#38 [refactor/#36] 코드 리뷰 사항 반영
  backend/.gitignore
  backend/build.gradle
  backend/gradle/dependencies/querydsl.gradle
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/member/LoginType.java
  backend/src/main/java/codesquad/airdnb/domain/member/Member.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberController.java
  backend/src/main/java/codesquad/airdnb/domain/member/MemberService.java
  backend/src/main/java/codesquad/airdnb/domain/member/OAuth.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/LoginRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/dto/request/RegisterRequest.java
  backend/src/main/java/codesquad/airdnb/domain/member/oauth/kakao/KakaoOAuthClient.java
  backend/src/main/java/codesquad/airdnb/domain/member/util/RandomStringUtil.java
  backend/src/main/java/codesquad/airdnb/global/security/JwtTokenProvider.java
  backend/src/main/resources/schema.sql
Labels: 다오, 시드, refactor

#42 [fix/#41] api 연동을 위한 세부사항 수정
  backend/src/main/java/codesquad/airdnb/domain/accommodation/repository/AccoRepository.java
  backend/src/main/java/codesquad/airdnb/domain/accommodation/service/AccoService.java
  frontend/src/routes/accommodations/+page.svelte
  frontend/src/routes/accommodations/AccoCard.svelte
  frontend/src/routes/oauth/register/+page.svelte
  frontend/src/store/AccoProducts.js
  frontend/src/store/Filter.js
Labels: 다오, 시드, fix
